@*******************************************************************************************************
//  Index.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  05/10/2021 - C. Lackner
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using GSF.Web.Shared
@using GSF.Data
@using System.Data
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags *@
    <title>@Model.Global.ApplicationName</title>
    <meta name="application-name" content="@Model.Global.ApplicationName" />
    <meta name="description" content="@Model.Global.ApplicationDescription" />
    <meta name="keywords" content="@Model.Global.ApplicationKeywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="@Resources.Root/Shared/Content/bootstrap.css" rel="stylesheet">
    <link href="@Model.Global.BootstrapTheme" rel="stylesheet">
    <link href="Content/Site.css" rel="stylesheet">
    <style>
        @@media (max-width: 995px) {
            .navbar-header {
                float: none;
            }

            .navbar-left, .navbar-right {
                float: none !important;
            }

            .navbar-toggle {
                display: block;
            }

            .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            }

            .navbar-fixed-top {
                top: 0;
                border-width: 0 0 1px;
            }

            .navbar-collapse.collapse {
                display: none !important;
            }

            .navbar-nav {
                float: none !important;
                margin-top: 7.5px;
            }

            .collapse.in {
                display: block !important;
            }
        }

        @@media (min-width: 1600px) {
            .container {
                width: 1550px;
            }
        }

    </style>
</head>
<body role="document">

    <!--/.navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="menuBar">
        <div class="container">
            <div class="navbar-header">
                <a href="https://gridprotectionalliance.org/productsDisturbance.asp" target="_blank" class="navbar-brand" style="padding: 0; margin: 0"><img class="pull-left" alt="PQ Products" src="/Images/PQProducts.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <p class="nav navbar-text navbar-right">
                    <button id="logoutButton" type="button" class="btn btn-sm btn-info">Log Out</button>
                    <a href="https://www.gridprotectionalliance.org/" target="_blank" style="padding-left: 10px" class="nav navbar-right">
                        <img alt="Grid Protection Alliance" src="/Images/gpa-smalllock.png">
                    </a>
                </p>

            </div>
        </div>
    </div>


    <div class="container theme-showcase" role="main" id="bodyContainer" style="margin-top: 36px;">
        @{
            using (AdoDataConnection connection = new AdoDataConnection("systemSettings"))
            {
                DataTable categoryTbl = connection.RetrieveData("SELECT * FROM PQApplicationsCategory WHERE (SELECT COUNT(*) FROM PQApplications WHERE CategoryID = PQApplicationsCategory.ID) > 0  ORDER BY SortOrder");

                foreach (DataRow categoryRow in categoryTbl.Rows)
                {
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            @categoryRow["Name"].ToString()
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                @{
                                    DataTable appTbl = connection.RetrieveData("SELECT * FROM PQApplications WHERE CategoryID = {0} ORDER BY SortOrder", categoryRow.ConvertField("ID", typeof(int)));
                                    foreach (DataRow appRow in appTbl.Rows)
                                    {
                                        <div class="col-xs-6 col-md-4 col-lg-2">
                                            <a href="@appRow["Url"].ToString()" class="thumbnail">
                                                <img src="@appRow["Image"].ToString()" alt="@appRow["Name"].ToString()">
                                                <div class="caption">
                                                    <h3>@appRow["Name"].ToString()</h3>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <script>
    </script>
</body>


</html>