@*******************************************************************************************************
//  Index.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Collections.Generic
@using System.Net.Http
@using System.Security.AccessControl
@using System.Text.RegularExpressions
@using GSF.Web
@using GSF.Web.Model
@using openXDA
@using openXDA.Model
@using RazorEngine.Templating
@using openXDA.Hubs

@inherits ExtendedTemplateBase<AppModel>
@{
    DataContext dataContext = ViewBag.DataContext;
    Layout = "Workbench/Layout.cshtml";
    ViewBag.ShowMenu = true;

    HttpRequestMessage request = ViewBag.Request;
    Dictionary<string, string> parameters = request.QueryParameters();

    if (parameters.ContainsKey("MeterID"))
    {
        ViewBag.MeterID = parameters["MeterID"];
    }
    if (parameters.ContainsKey("Filter"))
    {
        ViewBag.Filter = parameters["Filter"];
    }
    string meter = Model.DataContext.Connection.ExecuteScalar<string>("Select Name FROM Meter WHERE ID = {0}", Convert.ToInt32(ViewBag.MeterID));
    ViewBag.Title = "Faults for " + meter;

    // Define column headers, use null for field name to make column non-sortable
    ViewBag.HeaderColumns = new[]
{   //    { "Field", "Label", "Classes" }
        new[] { "ID", "Fault ID", "text-left"},
        new[] { "MeterName", "Meter Name", "text-left"},
        new[] { "LineName", "Line", "text-left"},
        new[] { "Voltage", "Voltage", "text-left"},
        new[] { "FaultType", "Fault Type", "text-left"},
        new[] { "CurrentDistance", "Distance", "text-center"},
        new[] { "InceptionTime", "Inception Time", "text-center" }
    };
    ViewBag.ShowSearchFilter = true;
    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.HideAddNewButton = true;


    ViewBag.ParentKeys = ViewBag.MeterID;
}

@section StyleSheets{
    <style>
    </style>
}
@helper BodyRows()
{
    <td width="5%" class="text-left valign-middle"><a target="_blank" data-bind="attr: {href: '/OpenSEE.cshtml?ID=' + EventID + '&faultcurves=1' }, text: ID"></a></td>
    <td width="15%" class="text-left valign-middle" data-bind="text: MeterName"></td>
    <td width="5%" class="text-center valign-middle" data-bind="text: LineName.truncate(25), attr: {title: LineName}"></td>
    <td width="10%" class="text-center valign-middle" data-bind="text: Voltage"></td>
    <td width="10%" class="text-center valign-middle" data-bind="text: FaultType"></td>
    <td width="10%" class="text-center valign-middle" data-bind="text: CurrentDistance"></td>
    <td width="20%" class="text-center valign-middle"><a target="_blank" data-bind="attr: {href: 'EventsForDate.cshtml?Date=' + InceptionTime + '&EventID=' + ID + '&time=1'}, text: InceptionTime.formatDate(DateTimeFormat)"></a></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.canDelete() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-remove"></span></button>
    </td>

}

@helper AddNewEditDialog(DataContext dataContext)
{
    @Raw(dataContext.AddInputField<FaultView>("ID", customDataBinding: "enable: false"))
    @Raw(dataContext.AddInputField<FaultView>("MeterName", "string", customDataBinding: "enable: false"))
    @Raw(dataContext.AddInputField<FaultView>("InceptionTime", "string", customDataBinding: "type: text, enable: true"))

}
@Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
@section Scripts {
    <script>
        @Raw(dataContext.RenderViewModelConfiguration<FaultForMeter, DataHub>(ViewBag, "ID", null, ViewBag.MeterID, ViewBag.Filter))

        $('#addNewEditDialog').on('shown.bs.modal', function () {
        });

        $('#globalFilter').change(function (event) {
            viewModel.setQueryRecordCount(function (filterText) {
                return dataHub.queryEventCount($('#globalFilter').val(), filterText);
            });

            viewModel.setQueryRecords(function (sortField, ascending, page, pageSize, filterText) {
                return dataHub.queryEvents($('#globalFilter').val(), sortField, ascending, page, pageSize, filterText);
            });

            viewModel.queryPageRecords();
        });

        $(viewModel).on('pageRecordsQueried', function (event) {

        });
    </script>
}
