@*******************************************************************************************************
    //  CustomerAsset.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/14/2020 - C. Lackner
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using System.Collections.Generic
@using System.Net.Http
@using System.Text.RegularExpressions
@using GSF.Web
@using GSF.Web.Model
@using openXDA
@using openXDA.Model
@using RazorEngine.Templating
@using openXDA.Hubs

@inherits ExtendedTemplateBase<AppModel>
@{
    DataContext dataContext = ViewBag.DataContext;
    Layout = "Assets/Layout.cshtml";
    ViewBag.Title = "Customer Asset";

    HttpRequestMessage request = ViewBag.Request;
    Dictionary<string, string> parameters = request.QueryParameters();

    ViewBag.customerID = int.Parse(parameters["CustomerID"] ?? "-1");
    ViewBag.assetID = int.Parse(parameters["AssetID"] ?? "-1");

    if (ViewBag.assetID != -1)
    {
        string assetName = dataContext.Connection.ExecuteScalar<string>("SELECT AssetKey FROM Asset WHERE ID = {0}", ViewBag.assetID);
        string assetKey = dataContext.Connection.ExecuteScalar<string>("SELECT AssetName FROM Asset WHERE ID = {0}", ViewBag.assetID);
        ViewBag.Title = "Customers connect to " + assetName;
        ViewBag.CustomHeader = "Customers connected to <a href=\"/Assets/Asset.cshtml?Asset=" + assetKey + "\">" + assetName + "</a>";

        // Define column headers, use null for field name to make column non-sortable
        ViewBag.HeaderColumns = new[]
        {   //    { "Field", "Label", "Classes" }
new[] { "Asset", "Asset", "text-left" },
new[] { "AssetName", "", "text-Left" },
new[] { "AssetType", "Asset Type", "text-Left" },
new[] { "CustomerKey", "Customer", "text-Left" },
new[] { "CustomerName", "", "text-Left" }
};


    }
    else
    {
        string customerName = dataContext.Connection.ExecuteScalar<string>("SELECT CustomerKey FROM Customer WHERE ID = {0}", ViewBag.customerID);
        string customerKey = dataContext.Connection.ExecuteScalar<string>("SELECT Name FROM Customer WHERE ID = {0}", ViewBag.customerID);
        ViewBag.Title = "Assets connect to " + customerName;
        ViewBag.CustomHeader = "Assets connected to <a href=\"/Assets/Asset.cshtml?Customer=" + customerKey + "\">" + customerName + "</a>";

        // Define column headers, use null for field name to make column non-sortable
        ViewBag.HeaderColumns = new[]
        {   //    { "Field", "Label", "Classes" }
new[] { "CustomerKey", "Customer", "text-Left" },
new[] { "CustomerName", "", "text-Left" },
new[] { "AssetKey", "Asset", "text-left" },
new[] { "AssetName", "", "text-Left" },
new[] { "AssetType", "Asset Type", "text-Left" }
};
    }



    ViewBag.AddNewEditTitle = "Customer Asset";
    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.ShowSearchFilter = true;
}

@helper BodyRows()
{
    if (ViewBag.assetID != -1)
    {
        <td width="20%" class="text-left valign-middle"><a class="btn btn-link" data-bind="text: AssetKey, attr: { href: '/Assets/Asset.cshtml?Asset=' + AssetKey }"></a></td>
        <td width="20%" class="text-left valign-middle" data-bind="text: AssetName"></td>
        <td width="10%" class="text-left valign-middle" data-bind="text: AssetType"></td>
        <td width="20%" class="text-left valign-middle"><a class="btn btn-link" data-bind="text: CustomerKey, attr: { href: '/Assets/Customer.cshtml?Customer=' + CustomerKey }"></a></td>
        <td width="25%" class="text-left valign-middle" data-bind="text: CustomerName"></td>
    }
    else
    {
        <td width="20%" class="text-left valign-middle"><a class="btn btn-link" data-bind="text: CustomerKey, attr: { href: '/Assets/Customer.cshtml?Customer=' + CustomerKey }"></a></td>
        <td width="25%" class="text-left valign-middle" data-bind="text: CustomerName"></td>
        <td width="20%" class="text-left valign-middle" nowrap><a class="btn btn-link" data-bind="text: AssetKey, attr: { href: '/Assets/Asset.cshtml?Asset=' + AssetKey }"></a></td>
        <td width="20%" class="text-left valign-middle" data-bind="text: AssetName"></td>
        <td width="10%" class="text-left valign-middle" data-bind="text: AssetType"></td>
    }
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.canDelete() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    if (ViewBag.assetID != -1)
    {
        <div class="col-md-12">
            @Raw(dataContext.AddSelectField<CustomerAsset, Customer>("CustomerID", "ID", "CustomerKey", fieldLabel: "Customer"))
        </div>
    }
    else
    {
        <div class="col-md-12">
            @Raw(dataContext.AddSelectField<CustomerAsset, Asset>("AssetID", "ID", "AssetKey", fieldLabel: "Asset"))
        </div>
    }

}
@Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
@section Scripts
{
    <script>
        @Raw(dataContext.RenderViewModelConfiguration<CustomerAsset, DataHub>(ViewBag,"ID",null,ViewBag.customerID,ViewBag.assetID))

        $(viewModel).on("beforeSave", function (event, observableRecord) {
            if (@ViewBag.assetID !== -1)
                observableRecord.AssetID = @ViewBag.assetID;
            if (@ViewBag.customerID !== -1)
                observableRecord.CustomerID = @ViewBag.customerID;
        });

        $(viewModel).on("newRecord", function (event, observableRecord) {
            if (@ViewBag.assetID !== -1)
                observableRecord.AssetID = @ViewBag.assetID;
            if (@ViewBag.customerID !== -1)
                observableRecord.CustomerID = @ViewBag.customerID;
        });


    </script>
}
