@*******************************************************************************************************
//  Meters.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Collections.Generic
@using System.Net.Http
@using GSF.Data.Model
@using GSF.Web
@using GSF.Web.Model
@using Newtonsoft.Json
@using openXDA.Model
@using openXDA.Hubs
@inherits ExtendedTemplateBase<AppModel>
@section StyleSheets {
    <link href="/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <style>

        html, body {
            height: 100%;
        }
    </style>
}
@{
    DataContext dataContext = ViewBag.DataContext;
    HttpRequestMessage request = ViewBag.Request;
    Dictionary<string, string> parameters = request.QueryParameters();

    ViewBag.MeterLocationID = -1;
    string meterLocationName = null;

    ViewBag.Title = "Meters";

    if (parameters.ContainsKey("Meter"))
    {
        ViewBag.meter = parameters["Meter"];
    }

    if (parameters.ContainsKey("LocationID"))
    {
        ViewBag.MeterLocationID = int.Parse(parameters["LocationID"] ?? "-1");
        meterLocationName = dataContext.Connection.ExecuteScalar<string>("SELECT Name FROM MeterLocation WHERE ID = {0}", ViewBag.MeterLocationID);
        ViewBag.CustomHeader = "Meters at <a href=\"/Assets/Sites.cshtml?Site=" + meterLocationName + "\">" + meterLocationName + "</a>";
        ViewBag.Title = "Meters at " + meterLocationName;
    }

    ViewBag.ParentKeys = ViewBag.MeterLocationID;
    Layout = "Assets/Layout.cshtml";

    // Define column headers, use null for field name to make column non-sortable
    ViewBag.HeaderColumns = new[]
    {   //    { "Field", "Label", "Classes" }
        new[] { "Name", "Name", "text-Left" },
        new[] { "MeterLocationID", "Site", "text-left"},
        new[] { "Make", "Make", "text-left" },
        new[] { "Model", "Model", "text-left" },
        new[] { null, "Meter-to-Line", "text-center valign-middle"}
    };
    ViewBag.ShowSearchFilter = true;

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.PageControlScripts.Insert(0, ExtendViewModel());
}
@helper BodyRows()
{
    <td width="20%" class="text-left valign-middle" nowrap><button type="button" class="btn btn-link" data-bind="text: Name, click: $parent.viewPageRecord"></button></td>
    <td width="20%" class="text-left valign-middle"><a class="btn btn-link" data-bind="text: Location, attr: { href: '/Assets/Sites.cshtml?Site=' + Location }"></a></td>
    <td width="20%" class="text-left valign-middle" data-bind="text: Make"></td>
    <td width="20%" class="text-left valign-middle" data-bind="text: Model"></td>
    <td width="5%" class="text-center valign-middle"><a data-bind="attr: { href: '/Assets/MeterLines.cshtml?LineID=-1&MeterID=' + ID + '&Title=' + Name }, enable: $parent.dataHubIsConnected" class="btn btn-default form-control">Lines&nbsp;&nbsp;<span class="badge" data-bind="text: getMeterCount(ID, $($element)), attr: {id: 'meterCount' + ID}">0</span></a></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.showMaintenanceWindowDialog, enable: $parent.canEdit(), style: { color: $parent.getMaintenanceWindowColor($data) }, attr: { title: $parent.getMaintenanceWindowTooltip($data) }"><span class="glyphicon glyphicon-time"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.canDelete() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    <div class="col-md-6">
        @Raw(dataContext.AddInputField<Meter>("Name"))
        @Raw(dataContext.AddSelectField<Meter, MeterLocation>("MeterLocationID", "ID", "AssetKey", fieldLabel: "Site"))
        @Raw(dataContext.AddInputField<Meter>("AssetKey", fieldLabel: "Asset Key"))
        @Raw(dataContext.AddInputField<Meter>("ShortName", fieldLabel: "Short Name"))
    </div>

    <div class="col-md-6">
        @Raw(dataContext.AddInputField<Meter>("Make"))
        @Raw(dataContext.AddInputField<Meter>("Model"))
        <div class="form-group">
            <label>Time Zone:</label>
            <select class="form-control" id="inputTimeZoneLabel" data-bind="attr: {'disabled': ($root.recordMode()===RecordMode.View ? true : undefined)}"></select>
        </div>
        @Raw(dataContext.AddTextAreaField<Meter>("Description"))
    </div>
}
<div id="maintenanceWindowDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Manage Maintenance Window
                </h4>
            </div>
            <div class="modal-body" data-bind="with: currentRecord, validationOptions: {messageTemplate: 'validationMessageTemplate'}">
                <form role="form">
                    <div class="form-group">
                        <label for="maintenanceWindowStartInput">Start:</label>
                        <div class="input-group date" id="maintenanceWindowStartDateTimePicker">
                            <input type="text" class="form-control" placeholder="Now" id="maintenanceWindowStartInput" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="maintenanceWindowEndInput">End:</label>
                        <div class="input-group date" id="maintenanceWindowEndDateTimePicker">
                            <input type="text" class="form-control" placeholder="Indefinite" id="maintenanceWindowEndInput" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: setMaintenanceWindow" data-dismiss="modal" id="setMaintenanceWindowButton">Set</button>
                <button type="button" class="btn btn-primary" data-bind="click: clearMaintenanceWindow" data-dismiss="modal" id="clearMaintenanceWindowButton">Clear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelMaintenanceWindowButton">Cancel</button>
            </div>
        </div>
    </div>
</div>
@Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
@helper ExtendViewModel()
{
    <script>
        $(window).on('beforeApplyBindings', function (evt, data) {
            var self = data.viewModel;

            self.getMaintenanceWindowColor = function (record) {
                var maintenanceWindow = record.MaintenanceWindow;

                if (maintenanceWindow) {
                    var currentTime = moment.utc();
                    var startTime = maintenanceWindow.StartTime;
                    var endTime = maintenanceWindow.EndTime;

                    var active =
                        (!startTime || currentTime >= moment.utc(startTime)) &&
                        (!endTime || currentTime <= moment.utc(endTime));

                    var pending =
                        (startTime && currentTime < moment.utc(startTime));

                    if (active)
                        return "darkred";

                    if (pending)
                        return "darkblue";
                }

                return "";
            };

            self.getMaintenanceWindowTooltip = function (record) {
                var maintenanceWindow = record.MaintenanceWindow;

                if (maintenanceWindow) {
                    var currentTime = moment.utc();
                    var startTime = maintenanceWindow.StartTime;
                    var endTime = maintenanceWindow.EndTime;

                    var active =
                        (!startTime || currentTime >= moment.utc(startTime)) &&
                        (!endTime || currentTime <= moment.utc(endTime));

                    var pending =
                        (startTime && currentTime < moment.utc(startTime));

                    if (active)
                        return "Under Maintenance";

                    if (pending)
                        return "Planned Maintenance";
                }

                return "No Planned Maintenance";
            };

            self.showMaintenanceWindowDialog = function (record) {
                self.deriveObservableRecord(record).done(function (observableRecord) {
                    self.currentRecord(observableRecord);
                    $("#maintenanceWindowDialog").modal("show");
                });
            };

            self.setMaintenanceWindow = function () {
                var DateTimeFormat = "YYYY-MM-DD HH:mm";

                var meterID = self.currentRecord().ID();
                var startTime = $('#maintenanceWindowStartInput').val();
                var endTime = $('#maintenanceWindowEndInput').val();

                if (startTime && startTime !== "Now")
                    startTime = moment(startTime).utc().format(DateTimeFormat);
                else
                    startTime = null;

                if (endTime && endTime !== "Now")
                    endTime = moment(endTime).utc().format(DateTimeFormat);
                else
                    endTime = null;

                dataHub.setMaintenanceWindow(meterID, startTime, endTime).done(function () {
                    self.queryPageRecords();
                });
            };

            self.clearMaintenanceWindow = function () {
                var meterID = self.currentRecord().ID();
                dataHub.clearMaintenanceWindow(meterID).done(function () {
                    self.queryPageRecords();
                });
            };
        });
    </script>
}
@section Scripts
{
    <script src="@("/@GSF/Web/Shared/Scripts/gsf.web.primeui.js")"></script>
    <script src="@("/@GSF/Web/Shared/Scripts/moment.js")"></script>
    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script>
        @Raw(dataContext.RenderViewModelConfiguration<Meter, DataHub>(ViewBag, null, null, ViewBag.MeterLocationID))

        $(function () {
            $('#maintenanceWindowDialog').on('shown.bs.modal', function () {
                var DateTimeFormat = "YYYY-MM-DD HH:mm";

                $('#maintenanceWindowStartDateTimePicker').datetimepicker({ showClear: true, showClose: true, useCurrent: false, format: DateTimeFormat });
                $('#maintenanceWindowEndDateTimePicker').datetimepicker({ showClear: true, showClose: true, useCurrent: false, format: DateTimeFormat });

                var maintenanceWindow = viewModel.currentRecord().MaintenanceWindow;

                if (maintenanceWindow) {
                    var startTime = maintenanceWindow.StartTime();
                    var endTime = maintenanceWindow.EndTime();

                    if (startTime)
                        startTime = moment.utc(startTime).local().format(DateTimeFormat);
                    else
                        startTime = "Now";

                    if (endTime)
                        endTime = moment.utc(endTime).local().format(DateTimeFormat);
                    else
                        endTime = "Indefinite";

                    $('#maintenanceWindowStartInput').val(startTime);
                    $('#maintenanceWindowEndInput').val(endTime);
                }
            });

            $('#addNewEditDialog').on('shown.bs.modal', function () {
                if (viewModel.dataHubIsConnected()) {
                    dataHub.searchTimeZones("", -1).done(function (records) {
                        $('#inputTimeZoneLabel').children().remove();
                        $.each(records, function (i, r) {
                            if(viewModel.currentRecord().TimeZone() == r.id)
                                $('#inputTimeZoneLabel').append(new Option(r.label, r.id, null, true));
                            else
                                $('#inputTimeZoneLabel').append(new Option(r.label, r.id));

                        })
                        $('#inputTimeZoneLabel').off('change');
                        $('#inputTimeZoneLabel').on('change', function (e) {
                            viewModel.currentRecord().TimeZone($('#inputTimeZoneLabel').val());
                        });
                    });
                }
            });
        });

        $(viewModel).on('newRecord', function (event, newRecord) {
            newRecord.MeterLocationID = @ViewBag.MeterLocationID;
        });

        function getMeterCount(sourceID, element) {
            if (viewModel.dataHubIsConnected()) {
                dataHub.queryMeterLineCount(-1, sourceID, null).done(function (count) {
                    $(element).text(count.toString());
                });
            }

            return element.text();
        }
    </script>
}